# Description
This notebook analyzes and visualizes precipitation data.

In [5]:
# The code was removed by Watson Studio for sharing.

## Selecting a country
Selecting for visualization only Algeria

In [10]:
a[13:22]

[Row(Country or Area='Algeria', Year='2001', Value='43840', Value Footnotes=None, Unit='million cubic metres'),
 Row(Country or Area='Algeria', Year='2000', Value='64430', Value Footnotes=None, Unit='million cubic metres'),
 Row(Country or Area='Algeria', Year='1999', Value='50150', Value Footnotes=None, Unit='million cubic metres'),
 Row(Country or Area='Algeria', Year='1998', Value='66470', Value Footnotes=None, Unit='million cubic metres'),
 Row(Country or Area='Algeria', Year='1997', Value='74460', Value Footnotes=None, Unit='million cubic metres'),
 Row(Country or Area='Algeria', Year='1996', Value='53380', Value Footnotes=None, Unit='million cubic metres'),
 Row(Country or Area='Algeria', Year='1995', Value='90270', Value Footnotes=None, Unit='million cubic metres'),
 Row(Country or Area='Algeria', Year='1990', Value='76160', Value Footnotes=None, Unit='million cubic metres'),
 Row(Country or Area='Andorra', Year='2007', Value='306.630004882813', Value Footnotes=None, Unit='million cubic metres')]